@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900|Roboto:300,500");
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #fff;
  overflow-x: hidden; }

.start-page {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .start-page h2 {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    white-space: nowrap;
    color: #000; }
  .start-page h3 {
    display: relative;
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
    margin-top: -1em;
    color: #000; }
    .start-page h3:after {
      content: "";
      position: absolute;
      margin-top: 2.4em;
      left: 50%;
      transform: translateX(-50%);
      height: 0.1em;
      width: 40%;
      background-color: #000; }
  .start-page .form {
    margin-top: 2rem; }
    .start-page .form input {
      background-color: #000;
      padding: 0.5rem;
      border: none;
      color: #fff;
      border-radius: 0.2em; }
    .start-page .form .error-msg {
      position: absolute;
      margin-top: 1em;
      width: 100%;
      height: 2em;
      background-color: #fff;
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.5s ease-in-out; }
      .start-page .form .error-msg p {
        line-height: 0;
        color: #000; }

.gemination-blocks-area {
  display: none;
  padding: 1em;
  position: relative;
  width: 100%;
  height: 10em; }
  .gemination-blocks-area #blocks {
    display: flex;
    align-items: center;
    justify-content: center; }
    .gemination-blocks-area #blocks .block {
      display: inline-block;
      font-size: 2em;
      color: #fff;
      width: 2em;
      height: 100%;
      text-align: center;
      margin-right: 0.25em;
      background-color: #000;
      border-radius: 0.2em;
      cursor: pointer; }
    .gemination-blocks-area #blocks .active {
      background-color: red; }
  .gemination-blocks-area p {
    text-align: center;
    color: #000; }
  .gemination-blocks-area #gemination-submit {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 12em;
    margin-top: 1em;
    background-color: #fff;
    padding: 0.5rem;
    color: #000;
    border: 1px solid #000;
    border-radius: 0.2em; }
    .gemination-blocks-area #gemination-submit:active {
      background-color: #000;
      color: #fff; }

.output-page {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 2em; }
  .output-page .output__main {
    width: 20em;
    margin: 0 auto;
    color: #000; }
    .output-page .output__main #output-verb {
      font-size: 3rem;
      font-weight: bold; }
    .output-page .output__main .output-tense-container p {
      padding: 1em 0;
      color: #000; }
    .output-page .output__main .output-tense {
      font-weight: bold; }
  .output-page .output-full-conjugation {
    margin: 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .output-page .output-full-conjugation td,
    .output-page .output-full-conjugation th {
      border: 1px solid #6e6e6e;
      text-align: left;
      padding: 8px;
      color: #000; }
    .output-page .output-full-conjugation tr:nth-child(even) {
      background-color: #e2e2e2; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3em 1fr 4em; }
  footer .Footer--Left {
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .Footer--Left a {
      line-height: 0; }
      footer .Footer--Left a img {
        width: 1.5em; }
  footer .Footer--Right {
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .Footer--Right p {
      font-size: .9rem; }

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
