@font-face {
    font-family: "Abyssinica";
    font-style: normal;
    font-weight: light;
    font-display: swap;
    src: url("@/assets/abyssinica.woff");
}

$white: #fbfbfb;
$black: #2e2e2e;
$grey: #acb0b3;
$red: #dc4b4e;

$mobile: 720px;
